<div class="submit_wrap" style="width:800px" >
	<!-- 타이틀 -->
	<div class="title" ><h3>이전과제 조회</h3></div>
	<!-- //타이틀 -->

	<!-- 검색 -->
	<div class="search_form" >
		<form name="frmPostSearch" id="frmPostSearch" onsubmit="return false;" >

		<input type="hidden" name="page" value="" />

		<input type="text" id="searchKeyword" name="searchKeyword" placeholder="과제 검색." value="" />
		<a href="javascript:;" id="searchUpWorkBtn" >검색</a>
		</form>
	</div>
	<!-- //검색 -->

	<div class="board" >
		<table class="list" summary="업무리스트" >
		<caption>업무 리스트</caption>
		<colgroup>
			<col width="8%" />
			<col />
			<col width="10%" />
			<col width="15%" />
			<col width="15%" />
			<col width="15%" />
			<col width="10%" />
		</colgroup>
		<thead>
			<tr>
				<th scope="col" >번호</th>
				<th scope="col" >업무명</th>
				<th scope="col" >책임자</th>
				<th scope="col" >진행률</th>
				<th scope="col" >시작일</th>
				<th scope="col" >종료일</th>
				<th scope="col" >상태</th>
			</tr>
		</thead>
		<tbody>
			<!-- Loop Start -->
			{{for statusInfo}}
			<tr>
				<td>{{:rn}}</td>
				<td class="subject" ><a href="javascript:;" onclick="setUpWork('{{:work_id}}','{{:ttl}}');" id="ttl_{{:work_id}}" >{{:ttl}}</a></td>
				<td>{{:owner_nm}}</td>
				<td>
					<div class="progress_bar" >
						<span class="progress" >
							<span class="bar" style="width:{{:(pgrs_rate == null) ? 0 : pgrs_rate}}%;" ></span>
						</span>
						<span class="rate" >{{:(pgrs_rate == null) ? 0 : pgrs_rate}}%</span>
					</div>
				</td>
				<td>{{:(start_dt == null) ? '' : start_dt.formatDate()}}</td>
				<td>{{:(end_dt == null) ? '' : end_dt.formatDate()}}</td>
				<td>{{:pgrs_st_nm}}</td>
			</tr>
			{{else}}
			<tr>
				<td colspan="7" >조회된 데이터가 없습니다.</td>
			</tr>
			{{/for}}
			<!-- Loop End -->
		</tbody>
		</table>
	</div>

	<!-- 버튼 영역:2.기본 오른쪽 -->
	<div class="btn_wrap tc" >
		<!-- 페이징 -->
		<p class="board-paging" >
		</p>
		<!-- //페이징 -->
	</div>
	<!-- //버튼 영역 -->

</div>
