			<!-- 타이틀 -->
			<div class="title" ><h3>과제관리</h3></div>
			<!-- //타이틀 -->

			<!-- 검색 -->
			<div class="search_wrap">
				<form name="frmPost" id="frmPost" onsubmit="return false;">

					<input type="hidden" name="tar_usr_id" value="" />
					<input type="hidden" name="page" value="" />
					<input type="hidden" name="pgrs_st" value="ALL" />
					<input type="hidden" name="grp_cd" value="" onchange="listSnsWork(1);" />
					<input type="hidden" name="grp_dtl_cd" value="" onchange="listSnsWork(1);" />
					<!-- 
					<select name="grp_cd" onchange="listSnsWork(1);">
						<option value="">분류</option>
						<option value="GNL">일반</option>
						<option value="STSK">전략과제</option>
					</select>				
	
					<select name="grp_dtl_cd" onchange="listSnsWork(1);">
						<option value="">전략방향</option>
						<option value="STSK_001">방폐물관리 전문성 보고</option>
						<option value="STSK_002">사용핵연료 사업역량 강화</option>
						<option value="STSK_003">환경보전-안전역할 강화</option>
						<option value="STSK_004">지속가능경영체계 고도화</option>
					</select>
				 	-->
					<div class="sort_dropdown mr5" id="grp_cd_dropdown" style="width:80px;">
						<button type="button">분류</button>
						<ul>
							<li data="">분류</li>
							<li data="GNL">일반</li>
							<li data="STSK">전략과제</li>
						</ul>
					</div>	
					
					<div class="sort_dropdown" id="grp_dtl_cd_dropdown" style="width:180px;">
						<button type="button">전략방향</button>
						<ul>
							<li data="">전략방향</li>
							<li data="STSK_001">방폐물관리 전문성 보고</li>
							<li data="STSK_002">사용핵연료 사업역량 강화</li>
							<li data="STSK_003">환경보전-안전역할 강화</li>
							<li data="STSK_004">지속가능경영체계 고도화</li>
						</ul>
					</div>								
				</form>
			</div>
			<!-- //검색 -->
