			<!-- 타이틀 -->
			<div class="title" ><h3>과제관리</h3></div>
			<!-- //타이틀 -->

			<!-- 검색 -->
			<div class="search_form" >
				<form name="frmPost" id="frmPost" onsubmit="return false;">

				<input type="hidden" name="tar_usr_id" value="" />
				<input type="hidden" name="page" value="" />
				<input type="hidden" name="pgrs_st" value="ALL" />

				<input type="hidden" id="searchKeyword" name="searchKeyword" placeholder="업무 검색." value="" />
				<input type="text" id="searchKeywordBefore" name="searchKeywordBefore" placeholder="업무 검색." value="" />
				<a href="javascript:;" id="searchBtn" >검색</a>
				</form>
			</div>
			<!-- //검색 -->

			<!-- tab -->
			<div class="sub_tab" >
				<ul>
					<li class="on" ><a href="javascript:;" onclick="workList('ALL')" >전체</a></li>
					<li><a href="javascript:;" onclick="workList('NST')" >대기</a></li>
					<li><a href="javascript:;" onclick="workList('ING')" >진행</a></li>
					<li><a href="javascript:;" onclick="workList('FIN')" >완료</a></li>
					<li><a href="javascript:;" onclick="workList('DLY')" >지연</a></li>
				</ul>
			</div>
