<ul id="skipNavi">
	<li><a href="#header">상단메뉴바로가기</a></li>
	<li><a href="#content">본문바로가기</a></li>
	<li><a href="#footer_wrap">하단바로가기</a></li>
</ul>
<div id="header"></div>
<div id="wrap">
	<div id="container">
		<div id="leftbar">
			<!-- profile -->
			<div class="profile"></div>
			<div class="nav"></div>
			<div class="follow"></div>
		</div>
		<div id="content"></div>
		<div id="rightbar">
			<ul class="group_opt">
				<li class="user_all"><a href="./userListAll.html">전체사용자</a></li>
				<li class="group_all"><a href="./groupListAll.html">전체그룹</a></li>
				<li class="group_make"><a href="./groupCreate.html">그룹만들기</a></li>
			</ul>
			<div class="group_wrap"></div>
		</div>
	</div>
	<div class="lbg"></div>
</div>
<div id="footer_wrap"></div>