            	<a href="javascript:;"><img src="../../../resources/img/page_prev2.gif" alt="이전 10페이지" /></a>
                <a href="javascript:;"><img src="../../../resources/img/page_prev.gif" alt="이전 페이지" /></a>
                <span>
				{{for (Page=1; Page<=TotalPage; Page++;)}} // I made up this statement.
				    {{if Page=CurrentPage}}
				        <li class="selected">{{>Page}}</li>
				    {{else}}
				        <li>{{>Page}}</li>
				    {{/if}}
				{{/for}}
                	<a href="javascript:;">1</a>
                    <a href="javascript:;">2</a>
                    <strong>3</strong>
                    <a href="javascript:;">4</a>
                    <a href="javascript:;">5</a>
                </span>
                <a href="javascript:;"><img src="../../../resources/img/page_next.gif" alt="다음 페이지" /></a>
                <a href="javascript:;"><img src="../../../resources/img/page_next2.gif" alt="다음 10페이지" /></a>