{{if attach_tp_cd == 'LINK'}}
	{{if video_link}}
		<!-- feed 동영상 -->
		<div class="link_mov">
			<div class="img"></div>
			<div class="info">
				<strong class="tit"><a href="{{>usr_link}}" target="_new">{{:attach_nm}}</a></strong>
				<p class="descrip">{{:descrip}}</p>
			</div>
			<a href="javascript:;" class="close"><img src="../../../resources/img/file_upload_close.gif" alt="링크포스트닫기"></a>
			<!-- preview 이미지 동영상 안뜰시: jpg이미지로 보여주기 .img위로 덮음  -->
			<div class="preview">
				<embed type="application/x-shockwave-flash" width="160" height="120" src="{{:video_link}}&amp;autoplay=0&amp;autohide=1&amp;autoplay=0&amp;autohide=1" quality="high" scale="scale" allowfullscreen="true"
		        allowscriptaccess="never" salign="tl" wmode="opaque" flashvars="width=160&amp;height=120" id="videoPlayer" title="더블클릭하시면 전체화면으로 볼 수 있습니다." alt="더블클릭하시면 전체화면으로 볼 수 있습니다.">
			</div>
		</div>
		<!-- //feed 동영상 -->
				{{else}}
		<!-- feed 링크텍스트  -->
		<div class="link_txt">
			<strong class="tit"><a href="{{>usr_link}}" target="_new">{{:attach_nm}}</a></strong>
			<p class="descrip">{{:descrip}}</p>
			<a href="javascript:;" class="close"></a>
		</div>
		<!-- //feed 링크텍스트  -->
	{{/if}}
{{/if}}
