{{for statusInfo}}
<li id="post_{{>post_id}}" >
	<div class="photo">
		<span><img src="../file/image.json?file_path={{>crt_usr_photo_img_min}}&noimg=combination/web/img/null150.png" alt="{{:crt_usr_nm}}" data-crt_usr_id="{{:crt_usr_id}}"></span>
		<button  class="photoBt" title="프로필레이어보기">프로필레이어보기</button>		
	</div>
	<div class="list_wrap" >
	{{if #parent.data.isGroupHome}}
		<div class="feed_user_info" >
			<a href="../sns/userHome.html?tar_usr_id={{:crt_usr_id}}" ><strong>{{:crt_usr_nm}}</strong></a>
		</div>
	{{else}}
		{{if tar_grp_nm}}
		<div class="feed_user_info" >
			<a href="../sns/groupHome.html?grp_id={{:tar_grp_id}}" ><strong>{{:tar_grp_nm}}</strong></a>
			<a href="../sns/userHome.html?tar_usr_id={{:crt_usr_id}}" ><span>{{:crt_usr_nm}}</span></a>
		</div>
		{{else obj_ttl}}
		<div class="feed_user_info" >
				{{if tar_obj_tp == 'CFRC'}}
					<a href="/views/UI/conference/conferenceView.html?cfrc_id={{:tar_obj_id}}" ><strong>{{:obj_ttl}}</strong></a>
				{{else tar_obj_tp == 'WORK'}}
					<a href="/views/UI/work/workView.html?work_id={{:tar_obj_id}}" ><strong>{{:obj_ttl}}</strong></a>
				{{else tar_obj_tp == 'TASK'}}
					<a href="/views/UI/task/taskView.html?task_id={{:tar_obj_id}}" ><strong>{{:obj_ttl}}</strong></a>
				{{else tar_obj_tp == 'APPR'}}
					<a href="/views/UI/memo/memoView.html?appr_id={{:tar_obj_id}}" ><strong>{{:obj_ttl}}</strong></a>
				{{else tar_obj_tp == 'CHART'}}
					<a href="/views/UI/chart/i2talkChartView.html?chrt_info_id={{:tar_obj_id}}" ><strong>{{:obj_ttl}}</strong></a>
				{{/if}}
				-
			<a href="../sns/userHome.html?tar_usr_id={{:crt_usr_id}}" ><span>{{:crt_usr_nm}}</span></a>
		</div>
		{{else crt_usr_nm == tar_usr_nm}}
		<div class="feed_user_info" >
			<a href="../sns/userHome.html?tar_usr_id={{:crt_usr_id}}" ><strong>{{:crt_usr_nm}}</strong></a>
		</div>
		{{else}}
		<div class="feed_user_info" >
			<a href="../sns/userHome.html?tar_usr_id={{:tar_usr_id}}" ><strong>{{:tar_usr_nm}}</strong></a>
			<a href="../sns/userHome.html?tar_usr_id={{:crt_usr_id}}" ><span>{{:crt_usr_nm}}</span></a>
		</div>
		{{/if}}
	{{/if}}
		<div class="feed_manage" >
			{{if post_mode != 'BOOKMARK'}}
				<a href="javascript:;" onclick="$Bookmark.toggleSnsBookmark({data : { post_id : '{{:post_id}}' }}, function(jsonData) { if ($('#post_{{>post_id}} .feed_manage > a').hasClass('on')) { $('#post_{{>post_id}} .feed_manage > a').removeClass('on'); } else {$('#post_{{>post_id}} .feed_manage > a').addClass('on');} });" class="bookmark {{if bookmark_yn == 'Y'}} on {{/if}}" >북마크</a>
			{{else}}
				<a href="javascript:;" onclick="$Bookmark.toggleSnsBookmark({data : { post_id : '{{:post_id}}' }}, function(jsonData) {$('#post_{{>post_id}}').remove();});" class="bookmark {{if bookmark_yn == 'Y'}} on {{/if}}" >북마크</a>
			{{/if}}
			
			{{if is_owner == 'Y'}}
			<a href="javascript:;" onclick="if(window.confirm('삭제하시겠습니까?')) {$Post.deleteSnsPost({data : { post_id : '{{:post_id}}' }}, function(jsonData) {$('#post_{{>post_id}}').remove();})}" class="del" >피드삭제</a>
			{{/if}}
		</div>
		<div class="feed_txt" >
 		{{if cntn}}
 			{{if list_user}}
				{{:cntn.makePostContent(list_user)}}
			{{else}}
				{{:cntn.replaceNewLine()}}
			{{/if}}
		{{/if}}
		</div>
		<!-- 파일 첨부가 있을 때 -->
		{{if (list_file) || (list_photo) }} 
		<div class="feed_slider">
			<div class="feed_slider_wrap default-skin" >
				<div class="feed_slider_box" style="width: {{: (( (list_file == null ? 0 : list_file.length) + (list_photo == null ? 0 : list_photo.length)) * 105) + 5}}px;" >
					<ul>
					{{if list_file}}
						{{for list_file}}
							<li>
								<div><a href="javascript:;" onclick="$File.download({ data : { file_path : '{{:physcl_file_path}}', file_nm : '{{:attach_nm}}'} });"><img src="" alt=""><span>{{:attach_nm}}</span></a></div>
							</li>
						{{/for}}
						 
					 {{/if}}
					{{if list_photo }}
						{{for list_photo}}
							<li>
								<div><a href="javascript:;" onclick="$File.download({ data : { file_path : '{{:physcl_file_path}}', file_nm : '{{:attach_nm}}'} });"><img src="" alt=""><span>{{:attach_nm}}</span></a></div>
							</li>
						{{/for}}
					{{/if}}
					</ul>
				</div>
			</div>
		</div>
		{{/if}}
		<!-- //파일 첨부가 있을 때 -->

		{{if list_link}}
			{{:~tmplLoader("snsPost.list_link", list_link)}}
		{{/if}}
		<!--주제정보가 있을 때-->
		<!-- <p class="feed_topic" >주제 : <a href="javascript:;" >i2TALK</a>, <a href="javascript:;" >협업</a>, <a href="javascript:;" >소통</a></p> -->
		<!--//주제정보가 있을 때-->

		{{if list_survey }}
		<!-- feed poll -->
		<form name="frmPoll_{{:post_id}}" id="frmPoll_{{:post_id}}" >
		<input type="hidden" name="post_id" value="{{:post_id}}" >
		<div class="poll_wrap" id="survey_{{:post_id}}" >
			<div class="poll_choice" id="choice_{{:post_id}}" style="display: none;" >
				<h5><em>poll</em>설문내용{{if survey_usr_open_yn == 'Y'}}(기명){{else}}(무기명){{/if}}</h5><!-- survey_usr_open_yn -->
				<ul>
				{{for list_survey}}
					<li><input type="radio" name="survey_itm_id" value="{{:survey_itm_id}}" id="check_{{:survey_itm_id}}" ><label for="check_{{:survey_itm_id}}" >{{:survey_itm_nm}}</label></li>
				{{/for}}
				</ul>
				<div class="bt" >
					<a href="javascript:;" class="button b" onclick="$SurveyVote.saveSnsSurveyVote({data : $('#frmPoll_{{:post_id}}').serialize()}, function(jsonData) {$('#choice_{{:post_id}}').hide();listSnsSurveyVoteResult('{{:post_id}}','{{:survey_usr_open_yn}}');});" >투표</a>
					<a href="javascript:;" class="button" id="postVoteResult_{{:post_id}}" onclick="$('#choice_{{:post_id}}').hide();listSnsSurveyVoteResult('{{:post_id}}','{{:survey_usr_open_yn}}');" >결과보기</a>
				</div>
			</div>
			<div class="poll_result" id="result_{{:post_id}}" style="display: none;" value='{"voted_yn" : "{{:voted_yn}}", "open_yn" : "{{:survey_usr_open_yn}}", "post_id" :"{{:post_id}}"}'></div>
		</div>
		</form>
		<!-- //feed poll -->
		{{/if}}
		<!--댓글 수, 추천 수, 작성시간-->
		<div class="feed_good" >
			<div class="feed_good_div">
				<a href="javascript:;" class="good1">댓글갯수</a><a href="javascript:;" class="good1_num"><em>{{:reply_cnt}}</em></a>
<!-- 				<a href="javascript:;" class="good2{{:(like_my=='Y' ? ' on' : '')}}" onclick="LikeToggleSnsLikeWithNoti('{{:post_id}}','{{:tar_obj_tp}}','{{:tar_obj_id}}','{{:tar_grp_id}}','{{:tar_usr_id}}',function(jsonData){$('#post_{{>post_id}} .feed_good .good2 em').text(jsonData.statusInfo.like_cnt);});">좋아요갯수</a><a href="javascript:;" class="good2_num" onclick="showLikeUserList('{{:post_id}}')"><em>{{:like_cnt}}</em></a> -->
				<a href="javascript:;" class="good2{{:(like_my=='Y' ? ' on' : '')}}" onclick="$Like.toggleSnsLike({data:{post_id:'{{:post_id}}'}},function(jsonData){console.log(jsonData); $('#post_{{>post_id}} .feed_good .good2_num em').text(jsonData.statusInfo.like_cnt); if(jsonData.statusInfo.like_my=='Y') { $('#post_{{>post_id}} .feed_good .good2').removeClass('good2').addClass('good2 on'); } else { $('#post_{{>post_id}} .feed_good .good2').removeClass('good2 on').addClass('good2'); }  });">좋아요갯수</a><a href="javascript:;" class="good2_num" onclick="showLikeUserList('{{:post_id}}')"><em>{{:like_cnt}}</em></a>
			</div>
			<!-- SNS 연동 소스: <div class="addthis_sharing_toolbox"></div> -->
			<span class="date"><span>{{:crt_dttm.formatTimeDateDay()}}</span>{{if dvc_tp_nm}} from {{:dvc_tp_nm}} {{/if}}</span><!-- formatDatetime -->
		</div>
		<!--//댓글 수, 추천 수, 작성시간-->

		<!-- 댓글 리스트 -->
		<div class="feed_reply" >
			<ul id="reply_{{>post_id}}" >
			{{if list_reply}}
				{{if list_reply.length >= 4}}
					<li id="reply_li_{{:post_id}}_more" ><a href="javascript:;" onclick="$('#reply_li_{{:post_id}}_more').hide(); $('#reply_{{>post_id}} .reply_li').fadeIn(300);" class="btn">댓글 {{:list_reply.length}}개 모두표시</a></li>
				{{/if}}
				{{if list_reply.length > 0}}
					{{:~tmplLoader("snsPost.list_reply", list_reply)}}
				{{/if}}
			{{/if}}
			</ul>
		</div>
		<!-- //댓글 리스트 -->

		<!--댓글 입력-->
		<div class="feed_input" >
			<form name="frmReply" id="frmReply_{{>post_id}}" onsubmit="return false;" >
				<input type="hidden" name="up_post_id" value="{{>post_id}}" >
				<input type="hidden" name="dvc_tp_cd" >
				<input type="hidden" name="tar_usr_id" value="{{:tar_usr_id}}">
				<input type="hidden" name="tar_grp_id" value="{{:tar_grp_id}}">
				<input type="hidden" name="tar_obj_id" value="{{:tar_obj_id}}">
				<input type="hidden" name="tar_obj_tp" value="{{:tar_obj_tp}}">
				<input type="hidden" name="post_tp" value="FEED" >
				<div class="feed_input_txt" >
					<textarea rows="" cols="" name="cntn" placeholder="댓글쓰기..." id="reply_cntn" value="" ></textarea>
					<div id="userSearchArea" ></div>
					<div id="postUserList" style="display:none" >
						<ul>
						</ul>
					</div>
				</div>
				<a href="javascript:;" onclick="saveSnsPostReply(this)" class="btn replyBtn" id="test" value="{{:post_id}}" ><img src="web/img/comment_input_btn.gif" alt="댓글입력" ></a>
			</form>
		</div>
		<!--//댓글 입력-->
	</div>
</li>
{{/for}}


<script id="snsPost_list_file_tmpl" type="text/x-jsrender">
  <li class="up_file">
 
	{{if (aprv_st == '2' && in_allw_yn == 'Y') }}
		<div><a href="javascript:;" onclick="$File.download({ data : { file_path : '{{:physcl_file_path}}', file_nm : '{{:attach_nm}}'} });"><img src="../../../resources/img/{{:~getIcon(physcl_file_nm.substring(physcl_file_nm.lastIndexOf('.') + 1, physcl_file_nm.length))}}" alt=""><span>{{:attach_nm}}</span></a></div>
	{{else}}
		<div><a href="javascript:;" onclick="alert('미승인 파일입니다.');"><img src="../../../resources/img/{{:~getIcon(physcl_file_nm.substring(physcl_file_nm.lastIndexOf('.') + 1, physcl_file_nm.length))}}" alt=""><span>{{:attach_nm}}</span></a></div>
	{{/if}}
	</li>
</script>

<script id="snsPost_list_photo_tmpl" type="text/x-jsrender">
  <li class="up_file">
 
	{{if (aprv_st == '2' && in_allw_yn == 'Y') }}
		<div><a href="javascript:;" onclick="$File.download({ data : { file_path : '{{:physcl_file_path}}', file_nm : '{{:attach_nm}}'} });"><img src="../../../resources/img/{{:~getIcon(physcl_file_nm.substring(physcl_file_nm.lastIndexOf('.') + 1, physcl_file_nm.length))}}" alt=""><span>{{:attach_nm}}</span></a></div>
	{{else}}
		<div><a href="javascript:;" onclick="alert('미승인 파일입니다.');"><img src="../../../resources/img/{{:~getIcon(physcl_file_nm.substring(physcl_file_nm.lastIndexOf('.') + 1, physcl_file_nm.length))}}" alt=""><span>{{:attach_nm}}</span></a></div>
	{{/if}}
	</li>
</script>

