					<h3 class="hide">설문항목</h3>
					<p>설문항목은 최소 2개 최대 10개 입니다.&nbsp;<input type="checkbox" value="N" name="survey_usr_open_yn" onclick="this.checked ? this.value='N' : this.value='Y'"/>무기명 설문</p>
					<span></span>
					<ul id="poll_content">
						<li class="pgap">
							<input type="text" name="survey_itm_nm" placeholder="항목을 입력해주세요(50자)" value="" maxlength="50"/>
							<a href="javascript:;" class="poll_add">
								<img src="../../../resources/img/research_del.png" alt="항목삭제" />
								<label class='numSeq' style='display:none'>1</label>
							</a>
						</li>
						<li class="pgap">
							<input type="text" name="survey_itm_nm" placeholder="항목을 입력해주세요(50자)" value="" maxlength="50"/>
							<a href="javascript:;" class="poll_add">
								<img src="../../../resources/img/research_add.png" alt="항목추가" />
								<label class='numSeq' style='display:none'>2</label>
							</a>
						</li>
					</ul>

<!-- 					<h3>설문작성</h3>
					<table class="write">
						<caption>설문작성레이어</caption>
						<colgroup>
							<col width="20%" />
							<col />
						</colgroup>
						<tbody>
							<tr>
								<th>설문항목<br /><span class="ex">(최소 2개,<br> 최대 10개)</span></th>
								<td id="poll_content">
									<p class="pgap">
										<input type="text" name="survey_itm_nm" placeholder="항목을 입력해주세요(50자)" value="" style="width:87%;"  maxlength="50"/>
										<a href="javascript:;" class="poll_add">
											<img src="../../../resources/img/research_del.gif" alt="항목추가" />
											<label class='numSeq' style='display:none'>1</label>
										</a>

									</p>
									<p class="pgap">
										<input type="text" name="survey_itm_nm" placeholder="항목을 입력해주세요(50자)" value="" style="width:87%;"  maxlength="50"/>
										<a href="javascript:;" class="poll_add">
											<img src="../../../resources/img/research_add.gif" alt="항목추가" />
											<label class='numSeq' style='display:none'>2</label>
										</a>
									</p>
								</td>
							</tr>
						</tbody>
					</table> -->