							<div class="connetName" >
								<ul>
									{{for statusInfo}}
									<li class="{{if #index == 0}}selected{{/if}}" >
										<div class="cnRow" >
											<span class="cnName" >
												<span class="photo" ><img src="../../../file/image.json?file_path={{:photo_img_min_path}}&noimg=resources/img/null60.png" alt="{{:usr_nm}}" ></span>
												<span class="name" >{{:usr_nm}}<!-- <strong>홍</strong>길동 --></span>
												<span class="userRole" >{{:pos_nm}}</span>
												<input type="hidden" name="usr_id" value="{{:usr_id}}" />
												<input type="hidden" name="usr_nm" value="{{:usr_nm}}" />
												<input type="hidden" name="pos_nm" value="{{:pos_nm}}" />
												<input type="hidden" name="usr_photo_img" value="{{:photo_img_min_path}}" />
											</span>
										</div>
									</li>
									{{/for}}
								</ul>
							</div>
