<!-- 탭  : 활성화시 on -->
<div class="tab">
    <a href="javascript:;" id="favo_clk" class="on">즐겨찾기 그룹</a>
    <a href="javascript:;" id="grp_clk">소속 그룹</a>
</div> 
<!-- //탭 -->
<div class="grouplist">
	<ul>
		{{for statusInfo}}
				<li class="{{if favo_yn == 'Y'}}favo_clk_li{{else}}grp_clk_li{{/if}}">
					<p class="name">
		            	<strong><a href="#sns/groupHome.html?grp_id={{:grp_id}}">{{:grp_nm}}</a></strong>
		                <span>구성원 : {{:member_cnt}} 명</span>
		            </p>
		            {{if favo_yn == 'Y'}}
						<a href="javascript:;" class="btn" id = "grp_favo_{{:rn}}" onclick="toggleFavorite('FAVO' , 'grp_favo_{{:rn}}', '{{:grp_id}}')"><img src="./web/img/btn_fav_del.gif" alt="그룹 즐겨찾기 삭제" title="그룹 즐겨찾기 삭제"></a>
					{{else}}
						<a href="javascript:;" class="btn" id = "grp_{{:rn}}" onclick="toggleFavorite('GRP', 'grp_{{:rn}}', '{{:grp_id}}')"><img src="./web/img/btn_fav_add.png" alt="그룹 즐겨찾기 추가" title="그룹 즐겨찾기 추가"></a>
					{{/if}}
		        </li>
			
		{{else}}
			{{if currentPage == 1}}
				<li>
					<span>즐겨찾기 등록된 그룹이 없습니다.</span>
				</li>
			{{/if}}
		{{/for}}
	</ul>
    <div class="btn_group_more"><a href="#sns/otherUserGroup">더 보기</a></div>
</div>
