{{for statusInfo}}
<div class="photo">
	<a href="../file/image.json?file_path={{:photo_img_mid_path}}&noimg=resources/img/null150.png" class="fancybox" type="image" id="fancy_photo_img">
		<img src="../file/image.json?file_path={{:photo_img_mid_path}}&noimg=resources/img/null150.png" alt="{{:usr_nm}}" title="{{:usr_nm}}" data="{{:usr_id}}" />
	</a>
	<p class="userName">
		{{:usr_nm}}
		<span>{{:pos_cd_nm}}</span>
	</p>
	<p class="grpName"></p>
</div>
<div class="send">
	<a href="javascript:;" class="message button">메세지함<em class="color1" style="font-size:10px;">(0)</em></a>
	{{if isMine}}
		<a href="../../../views/UI/sns/notificationHome.html" class="followBt button noti"><span>알림센터</span></a>
	{{else}}
		<a href="javascript:;" class="followBt button foll" id="btnFollow"><span>팔로우</span></a>
	{{/if}}
	
</div>
<dl class="userInfo">
	<dt>이메일주소</dt>
	<dd class="first">{{:email}}</dd>
	<dt>핸드폰번호</dt>
	<dd>{{if phn_num}} {{:phn_num.formatPhone()}} {{/if}}</dd>
	<dt>전화번호</dt>
	<dd>{{if tel_num}} {{:tel_num.formatPhone()}} {{/if}}</dd>
</dl>
<p class="userTx">{{:self_intro}}</p>
<ul class="count"><!-- 공헌도 new add -->
	<li><strong>게시물,<br />댓글</strong><span>{{:write_post_cnt}}</span></li>
	<li class="bar"><strong>받은<br />댓글</strong><span>{{:recv_post_cnt}}</span></li>
	<li><strong>받은<br />좋아요</strong><span>{{:recv_like_cnt}}</span></li>
</ul>
{{/for}}