<ul id="userMenu" >
	{{if tar_usr_id == select_usr_id || select_usr_id == null || select_usr_id == '' || select_usr_id == undefined}}
	<li class="feed {{if menu_name == 'userHome'}} on{{/if}}" ><a href="../sns/userHome.html?tar_usr_id={{:tar_usr_id}}" >피드</a>
		<ul>
			<li class="{{if menu_name == 'userHome' && (post_mode == 'FOLLOW' || post_mode == '')}} on{{/if}}" ><a href="../sns/userHome.html?tar_usr_id={{:tar_usr_id}}&post_mode=FOLLOW" >내가 팔로우하는 항목</a></li>
			<li class="{{if menu_name == 'userHome' && post_mode == 'ME'}} on{{/if}}" ><a href="../sns/userHome.html?tar_usr_id={{:tar_usr_id}}&post_mode=ME" >나에게</a></li>
			<li class="{{if menu_name == 'userHome' && post_mode == 'BUSINESS'}} on{{/if}}" ><a href="../sns/userHome.html?tar_usr_id={{:tar_usr_id}}&post_mode=BUSINESS" >업무</a></li>
			<li class="{{if menu_name == 'userHome' && post_mode == 'BOOKMARK'}} on{{/if}}" ><a href="../sns/userHome.html?tar_usr_id={{:tar_usr_id}}&post_mode=BOOKMARK" >북마크됨</a></li>
			{{if outs_usr_yn != 'Y'}}
			<li class="{{if menu_name == 'userHome' && post_mode == 'OPEN'}} on{{/if}}" ><a href="../sns/userHome.html?tar_usr_id={{:tar_usr_id}}&post_mode=OPEN" >공개그룹</a></li>
			{{/if}}
		</ul>
	</li>
	<li class="file {{if menu_name == 'listUserFile'}} on{{/if}}" ><a href="../sns/listUserFile.html?tar_usr_id={{:tar_usr_id}}" >파일</a></li>
<!-- 	<li class="file {{if menu_name == 'myFile'}} on{{/if}}" ><a href="../sns/myFile.html?tar_usr_id={{:tar_usr_id}}" >내 파일함</a></li> -->
	<li class="task {{if menu_name == 'taskHome'}} on{{/if}}" ><a href="../task/taskHome.html?tar_usr_id={{:tar_usr_id}}" >작업</a></li>
	<li class="schedule {{if menu_name == 'planHome'}} on{{/if}}" ><a href="../sns/planHome.html?tar_usr_id={{:tar_usr_id}}" >일정</a></li>
	<li class="task {{if menu_name == 'otherUserGroup'}} on{{/if}}" ><a href="../sns/otherUserGroup.html" >소속그룹</a></li>
	{{else}}
		<li class="feed {{if menu_name == 'userHome'}} on{{/if}}" ><a href="../sns/userHome.html?tar_usr_id={{:select_usr_id}}" >피드</a></li>
		<!-- <li class="file {{if menu_name == 'listUserFile'}} on{{/if}}" ><a href="../sns/listUserFile.html?tar_usr_id={{:select_usr_id}}" >소유한 파일</a></li> -->
		<li class="schedule {{if menu_name == 'planHome'}} on{{/if}}" ><a href="../sns/planHome.html?tar_usr_id={{:select_usr_id}}" >일정</a></li>
		<li class="task {{if menu_name == 'otherUserGroup'}} on{{/if}}" ><a href="../sns/otherUserGroup.html?tar_usr_id={{:select_usr_id}}" >소속그룹</a></li>
		
	{{/if}}
<!--
	<li><span class="people" ><a href="javascript:;" onclick="goUserList()" >사용자</a></li>
	<li><span class="groups" ><a href="javascript:;" onclick="goUserGroupList()" >그룹</a></li>
	<li><span class="topics" ><a href="javascript:;" onclick="goUserTopicList()" >주제</a></li>
-->
<!--
	<li class="chart {{if menu_name == 'cmsHome'}} on{{/if}}" ><a {{if menu_name == 'cmsHome'}} href="./cmsHome.html?tar_usr_id={{:tar_usr_id}}"{{else}} href="../cms/cmsHome.html?tar_usr_id={{:tar_usr_id}}"{{/if}}>챠트관리</a></li>
	<li class="chart {{if menu_name == 'conferenceHome'}} on{{/if}}" ><a {{if menu_name == 'conferenceHome'}} href="./conferenceHome.html?tar_usr_id={{:tar_usr_id}}"{{else}} href="../conference/conferenceHome.html?tar_usr_id={{:tar_usr_id}}"{{/if}}>회의관리</a></li>
-->
</ul>
<!--
<ul>
	<li class="feed on" ><a href="javascript:;" >피드</a></li>
	<li class="file" ><a href="listUserFile.html" >파일</a></li>
	<li class="bookmark" ><a href="javascript:;" >북마크</a></li>
	<li class="schedule" ><a href="javascript:;" >일정</a></li>
	<li class="people" ><a href="javascript:;" >사용자</a></li>
	<li class="groups" ><a href="javascript:;" >그룹</a></li>
	<li class="topics" ><a href="javascript:;" >주제</a></li>
	<li class="chart" ><a href="javascript:;" >챠트관리</a></li>
	<li class="chart" ><a href="javascript:;" >회의관리</a></li>
</ul>
-->
