<p class="follow_tit">팔로잉<em>{{:total_cnt}} 명</em><a href="../sns/listUserFollow.html?tar_usr_id={{:current_id}}" class="more">더보기</a></p>
<!-- follow thumb -->
<ul>
{{if statusInfo}}
	{{if statusInfo.length > 0}}
		{{for statusInfo}}
		{{if #index < 9}}
			<li data="{{:tar_usr_id}}"><a href="../sns/userHome.html?tar_usr_id={{:tar_usr_id}}"><img src="../../../file/image.json?file_path={{:tar_photo_img_min}}&noimg=resources/img/null40.png"></a></li>
		{{/if}}
		{{/for}}
	{{else}}
		<span>팔로잉 유저가 없습니다.</span>
	{{/if}}
{{else}}
	<span>팔로잉 유저가 없습니다.</span>
{{/if}}
</ul>
