/*layout*/
#admin_wrap{position:relative; min-height:100%; background:#fff url(../img/body_line_pattern2.png) repeat-y -20px 0;}
#admin_body{position:relative; padding-left:180px; padding-bottom:50px; min-width:750px; min-height:700px;}
#admin_cont > .inner{padding:57px 20px 20px;}
#admin_cont > .inner:after{content:''; display: block; clear: both;}
#admin_cont{background:#fff; min-height:570px; height:auto !important; height:570px;}
#leftbar{position: absolute; top:57px; left:0; padding:0;}
.admin #footer_wrap{clear:both; z-index:50; position: absolute; bottom:0;}

#admin_wrap .title h3{font-size:16px;}
/*common*/
#admin_wrap #header h1{overflow:hidden; height:50px; top:-10px; left:20px;}
#admin_wrap #header .admin_lnb{float:right; margin-right:20px; color:#eee; line-height:37px; text-transform:capitalize;}
#admin_wrap #header .admin_lnb .name{margin-right:10px; text-decoration: underline;}
#admin_wrap #header .admin_log{margin-right:15px; padding:0 5px; color:#eee; border:1px solid #eee;}
#admin_wrap #leftbar .nav{margin:0 0 0 20px;}
#admin_wrap #leftbar .nav > ul > li.on > a, #admin_wrap #leftbar .nav > ul > li:hover > a{background-image:none;}

/*admin home*/
.data_div{position:relative; float:left; margin:0 2% 2% 0; width:47%;}
.data_div .more{position:absolute; top:5px; right:5px;}
.data_graph, .data_count{overflow:hidden; margin-top:10px; padding:7px 12px; height:235px; border:1px solid #d4d4d4;}
.data_graph li, .data_count li{height:22px;}
.data_graph li{text-align: right;}
.data_graph .date{display:inline-block; *display:inline; *zoom:1; float:left; text-align:left; width:25%; font-size:12px; color:#555; white-space:nowrap;}
.data_graph .sun .date em{color:#f58220;}

.data_graph .progress_bar{width:60%;}
.data_count li{list-style-type:disc;list-style-position: inside;}
.data_count li .col1, .data_count li .col2{display:inline-block; *display:inline; *zoom:1; width:48%;}
.data_count li .col2{text-align:right; width:22%;}

.pw_div {overflow:hidden; float:left; margin-bottom:15px; *margin-bottom:10px; width:45%; margin-right:4%;}/*adminInfo 정보변경 div*/
.pw_div.ad{margin-right:0; width:50%;}
.info_div{clear:both;}
.confer_img{height:200px; border:1px solid #d4d4d4; background:#f8f8f8;}/*admin confer layer 회의실이미지*/
.countLi li{list-style-type:disc; list-style-position:inside; text-align:left;}/*admin group Li in table td li*/
.countLi li strong{margin-right:3px; font-weight:normal;}
.period{overflow:hidden; margin-top:10px; padding:3px 10px; background:#f8f8f8; border:1px dashed #e0e0e0;}/*admin link*/
.period span{font-weight:bold;}

.admin .search_wrap .search_form{float:left; margin-left:5px; width:250px;}
.admin td .photo{display:inline-block; *display:inline; *zoom:1; border:1px solid #eee;}