	@charset "UTF-8";

	@import url(basic.css);
	@import url(chat.css);
	
	.chat_wrap *{font-size: 16px;}
	.chat_wrap, .chat_title{position: relative; width: auto;}
	.chat_wrap{height: 100%;}
	.chat_title h2, .chat_title .chat_fold{height: 45px; line-height:45px}
	.chat_title h2, .chat_title.on h2{padding-left:35px; font-size: 18px; background-position:12px 15px;}
	.chat_title .chat_fold{background-position: 10px -20px;}
	.chat_tab li a{height: 35px; line-height: 35px;}
	.chat_alert {top:51px}
	
	.chat_add_search{top:69px; width: 100%; box-sizing:border-box;}
	.chat_add_search .arrow{right:63px;}
	.chat_alert{display: none; width: 100%; box-sizing:border-box;}
	.chat_alert p{padding: 10px;}
	.chat_list li{min-height:52px; line-height: 52px; padding: 10px; border-bottom: 1px solid #eee; display:-webkit-box; -webkit-box-orient:horizontal; -webkit-box-align:center;}
	.chat_list li:last-child{border: 0;}
	.chat_list li.ing{padding-left: 70px;}
	.chat_list .photo{float: none; margin-right: 12px; width: 50px; height:50px;}
	.chat_list .photo img{max-width:100%; width:auto;}
	.chat_list .name {float: none; display:block; -webkit-box-flex: 1;}
	.chat_t{height: 33px; line-height: 33px;}
	.chat_search .chat_search_input , .chat_search input{height: 33px; line-height: 33px;}
	.chat_search .del{top:8px; right:8px}
	.chat_status {margin-bottom: 15px;}
	.chat_list .status_i{float: none;}
	
	.chat_layer_wrap *{font-size: 16px;}
	.chat_layer_wrap{position: relative; top:auto; left:auto; width:100%; height: 100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.chat_layer_top, .chat_layer_tit{height:35px; display:-webkit-box; -webkit-box-orient:horizontal; -webkit-box-align:center;}
	.chat_layer_tit{margin-top: 37px;}
	.chat_layer_top strong, .chat_layer_tit .tit{float: none; display: block; -webkit-box-flex: 1;}
	.chat_layer_top .btn,  .chat_layer_tit .btn{float: none; }
	.chat_layer_top .btn span,  .chat_layer_tit .btn span {width:45px; padding-top:35px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.chat_layer_top .mini{background-position: 17px -91px;}
	.chat_layer_top .close {background-position: 19px -121px;}
	.chat_layer_tit .add {background-position: 15px -188px;}
	.chat_layer_tit .fav.off {background-position: -35px -230px;}
	.chatting_alert{padding: 10px 0; margin: 0 20px;}
	.chat_time{font-size: 12px;}
	
	.chatting_area{overflow-y:auto; width:100%; height:auto; padding-bottom: 40px;}
	.chat_layer_cont {min-height:100%; margin:-40px 0 -38px; border-bottom: 0;}
	.chatting_write{position: fixed; bottom:0; width: 100%; border: 1px solid #969696; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}	
	.chatLi{margin:20px 0;  padding: 0 20px; width: 100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.chatLi .photo{margin-left: -50px; width:40px; height:40px;}
	.chatLi .photo img{width: 40px;}
	.guest .saybox {padding-left: 50px;}
	.chatLi .say .sayer strong{font-size: 14px;}
	.say_ballon, .say_ballon p{font-size: 14px;}
	
	.prevChat{margin: 10px 15px;}
	.prevChat a{height: 33px; line-height: 33px; font-size: 14px;}
	
	.scrollable .viewport .overview {width: 100%;}
	
