@charset "UTF-8";

#header .top, #header .top_inner, #container, #footer_wrap{position: relative; margin:0 auto; padding: 0; width:1000px; *zoom:1;}

/*header*/
#header {position:fixed; top:0; width:100%; background-color:#4c93c4; z-index:100}
#header .top {height:60px; z-index:50}
#header .topbar_wrap{width:100%; height:38px; background:#418cc1; border-top:1px solid #3d83b4; border-bottom:1px solid #418cc1;}

/*container*/
#wrap {position:relative; padding-top:120px; width:100%;}
#container{z-index:10; border-right:1px solid #e4e2dc; background:url(../img/body_line.png) repeat-y 190px 0;}
/* 2014.07.08 우측 그룹 탭 영역 사이즈 수정 #container.container{height:auto; background:url(../img/body_line_pattern.png) repeat-y 800px 0;} */
#container.container{height:auto; background:url(../img/body_line_pattern_line.png) repeat-y 800px 0;}
#container:after, #header .top_inner:after{display:block;clear:both;content:'';}
#leftbar{position:relative; z-index:50; float:left; width:170px;}
/* .lbg{display:none; position:absolute; left:50%; top:120px; z-index:5; margin-left:300px; width:200px; height:100%; background:url(../img/body_line_pattern.png) repeat-y 0 0;} */

/*3column*/
#content{position:relative; float:left; margin-left:20px; width:608px; min-height:100%; border:1px solid #e4e2dc; border-bottom: 0;}
#content .inner{padding:10px 20px;}
#content .title{margin-top:10px; margin-left:20px; margin-right:20px;}
#content .user_list .userList, #content .user_list .groupList{margin-left:20px; margin-right:20px;}
#content .search_form{*float:left; margin-left:20px; margin-right:50px;}

/*2column*/
#content_t{position:relative; float:left; margin-left:20px; padding:0px 20px; width:768px; height:100%; min-height:670px; border:1px solid #e4e2dc; border-right: 0; border-bottom: 0;}
/* 2014.07.08 우측 그룹 탭 영역 사이즈 수정 #rightbar{position:relative; float:left; margin:0; width:198px; height:100%; border-top:1px solid #E4E2DC;} */
#rightbar{position:relative; float:right; margin:0; width:190px; height:100%; border-top:1px solid #E4E2DC;}

#main #content_t, #vision #content_t{padding:0; width:810px; border:0;}
#main #container, #main #footer_wrap .footer, #vision #container, #vision #footer_wrap .footer{border:0; background:none;}

/*footer*/
#footer_wrap{zoom:1;}
#footer_wrap:after{display:block;clear:both;content:'';}
#footer_wrap .footer{float:right; padding:15px 0; width:810px; border-top:1px solid #e4e2dc;}
#footer_wrap .footer p{ font-size:9px; font-family:verdana; color:#999;}
#footer_wrap .footer p em {font-size:9px; font-family:verdana; font-weight:bold; color:#4C93C4;}
#footer_wrap .footer ul{display: none; position: absolute; right:0; top:0; font-size:11px}
#footer_wrap .footer ul li{float:left; padding-left:20px}