@charset "utf-8"; 

*{-webkit-text-size-adjust:none; -webkit-font-smoothing:antialiased; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, address, em, img, button, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, input, textarea, select, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video
{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; font-family:helvetica,sans-serif;}
html, body{width:100%; height:100%;}
body{font-size:15px; line-height:1; color:#545454; -webkit-user-select:none; -webkit-touch-callout:none; -webkit-tap-highlight-color:rgba(0,0,0,0)}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal}
form, fieldset, img, abbr, acronym{margin:0; padding:0; border:0 none}
ol, ul{list-style:none}
table{border-collapse:collapse; border-spacing:0; border:0 none; width:100%}
legend, caption{display:none}
.hide{overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; font-size:0; line-height:0}
.hidden, hr{display:none}
a{color:inherit; text-decoration:none}
a:hover, a:active{text-decoration:none}

input, select, textarea{vertical-align:middle; -webkit-border-radius:0; box-shadow:none !important}
input[type="text"], input[type="password"], input[type="search"], textarea{-webkit-appearance:none; width:100%; margin:0; padding:0 10px; border:1px solid #e2e2e2}
input[type="text"], input[type="password"], input[type="search"]{height:38px}
input[type="search"]{-webkit-appearance:textfield; -webkit-appearance:none}
input::-webkit-search-decoration, input::-webkit-search-cancle-button{display:none}
textarea{line-height:1.3; resize:none; padding:10px}
input[type="button"], button{-webkit-appearance:button; border-radius:0; border:0; background-color:transparent; box-sizing: content-box;}
button:focus, button:active{outline:none}
select{-webkit-appearance:none; padding:0 25px 0 7px; height:32px; line-height:32px; font-size:14px; color:#505152; border:1px solid #b5b5b5; background:rgba(255,255,255,0.3) url(../images/ic_select.png) no-repeat 90% center; background-size:16px auto; border-radius:3px}
input[type="datetime-local"], input[type="date"]{text-indent:5px; padding-right:27px; min-width:120px; max-width:230px; height:32px; border:1px solid #b5b5b5; background:url(../images/i_cal.png) no-repeat 97% center; background-size:20px auto; -webkit-appearance:none; border-radius:3px}

/*select{-webkit-appearance:menulist-text}
*/
::-webkit-input-placeholder{color:#acacac}

.fl{float:left !important}
.fr{float:right !important}
.tc{text-align:center}
.ib{display: inline-block !important;}

.clearfix:after{display:block; clear:both; content:''}
.cb{clear:both}
.clear{clear:both; float:left; width:100%}

.ellip{overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.ellip2{overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word}
