body{background:#f2f3f5 url(../img/bg.jpg) repeat; background-size:100% auto;/* background-attachment:fixed;*/ }/* #e3e3e3 */
#wrap{}
#header{position:relative; z-index:100;}
/* #leftMenu{position:absolute; left:0; top:0; z-index:-10;  width:200px; border-right:1px solid #ddd; background:#f5f5f5;} */
#ct{position:relative; background:#e3e3e3 url(../img/bg.jpg) repeat; background-size:100% auto; /* background-attachment:fixed; */}

img{max-width:100%}
.skipNav{overflow:hidden; position:absolute; width:1px; height:1px; font-size:1px; line-height:1px; text-indent:4px; white-space:nowrap}
.mark:after{content:''; display:block; position:absolute; top:-1px; right:13px; width:13px; height:20px; background:url(../img/ic_mark.png) no-repeat 90% top; background-size:13px auto}
.col2{width:50%}
.col3{width:33.3%}
.col4{width:25%}
.fs11{font-size:11px;}
.color1{color:#000 !important}
.color2{color:#ff6700 !important}
.color3{color:#1b72ad}

.fixH{height:100%}
.flex{-webkit-box-flex:1}
.mgab, .hp-panel > div{padding:8px}
.hp-panel .feedArray{padding:0 0 5px 0}
input[type="checkbox"]+label, input[type="radio"]+label{margin-right:15px; vertical-align:middle}
/* input[disabled]{background-color:#f0f0f0} */

input[type='radio'],input[type='checkbox']{vertical-align:text-bottom;}
input[type='checkbox']{background:#F9F9F9; border:solid 1px #ccc; border-radius:4px; height:16px; width:16px; -webkit-appearance:none;}
input[type='checkbox']:checked:after{content:' ';display:block; width:8px; height:8px; background:#1b72ad; position:relative; top:3px; left:3px; border-radius:2px;}
input[type='radio']{background:#F9F9F9; border:solid 1px #ccc; border-radius:15px; height:15px; width:15px; -webkit-appearance:none;}
input[type='radio']:checked:after{content:' ';display:block; width:7px; height:7px; background:#1b72ad; position:relative; top:3px; left:3px; border-radius:15px 15px;}
input[type='checkbox']:disabled:after{background:#9b9b9b;}

/* load */
#load{background:#4d9ed6}
#load .loadWrap{position:absolute; top:35%; width:100%; text-align:center}
#load .logo{position:relative; right:auto; top:-80px; margin-bottom:20px; display:inline-block; width:75%; -webkit-animation:logo .8s .2s}
#load .copyright{display:inline-block; margin-top:100px; width:18%; -webkit-animation:logo2 .8s .3s}
#load .loading{font-size:0}
#load .loading span{overflow:hidden; display:inline-block; width:220px; height:8px; border:1px solid #368bc2; background:url(../img/loading_bar.png) repeat-x; background-size:auto 7px; border-radius:3px; -webkit-animation:load .25s infinite}
#load .loadWrap.log{top:25%}
#load .log .logo{top:0; -webkit-animation:none}
#load .log .copyright{margin-top:10%; -webkit-animation:none}

@-webkit-keyframes load{from{background-position:0 0}
 to{background-position:-26px 0}
}
@-webkit-keyframes logo{from{-webkit-transform:translateY(85px); opacity:0.8}
 to{-webkit-transform:translateY(0); opacity:1}
}
@-webkit-keyframes logo2{from{-webkit-transform:translateY(-65px); opacity:.8}
 to{-webkit-transform:translateY(0); opacity:1}
}

/* login */
.login{padding:0 3%}
.loginForm{overflow:hidden; margin-bottom:2%; background:#fff; border:1px solid #2474a9; border-radius:5px}
.loginForm li{border-top:1px solid #d2e2f1}
.loginForm li:first-child{border:0}
.loginForm input{height:55px; border:0; font-size:30px;}
.loginBtn{overflow:hidden; display:block; width:100%; height:45px; line-height:45px; font-size:18px; color:#fff; background:#4cc4c5; border:1px solid #1e9292; border-radius:3px}

/* menu
.main_profile{float:none; margin:0; padding:10px 13px}
.main_profile h2{display:none}
.main_profile .photo{float:left; overflow:hidden; margin:0 7px 12px 0; width:50px; height:50px; border-radius:50%; border:1px solid #ddd; background:rgba(255,255,255,0.6)}
.main_profile .photo img{width:100%}
.main_profile .name{margin:7px 0; font-size:15px; font-weight:bold; line-height:16px; letter-spacing:0; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word}
.main_profile .part{font-size:13px; color:#7c7c7c; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word}
.main_profile .part+dl{margin-top:10px}
.main_profile dl{padding-top:10px; border-top:1px solid #d7d7d7}
.main_profile dt{display:none}
.main_profile dd{font-size:12px; line-height:1.4; color:#7c7c7c; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}

.gnb{overflow-x:hidden; overflow-y:auto; max-height:627px}
.gnb li{line-height:38px; -webkit-transition:all .3s; transition:all .3s}
.gnb >li a{position:relative; display:block; padding-left:13px; border-top:1px solid #ddd}
.gnb >li.on >a{padding-left:15px; border-left:5px solid #2f9cd4; border-top:1px solid #2F9CD4; font-weight:bold; color:#2f9cd4}
.gnb >li >ul{display:none}
.gnb >li >ul >li a:after{content:''; position:absolute; left:21px; top:50%; margin-top:-1px; display:block; width:7px; height:1px; background:#2f9cd4}
.gnb >li >ul >li a{padding-left:38px; font-size:13px; background:#efefef}
.gnb >li >ul >li.on a{color:#2f9cd4}
.gnb >li.arrow >a:after{content:''; position:absolute; top:50%; right:15px; margin-top:-5px; display:block; width:10px; height:10px; border-top:1px solid #bdbdbd; border-right:1px solid #bdbdbd; -webkit-transform:rotate(45deg)}
.gnb >li.on.arrow >a:after{border-color:#2f9cd4; margin-top:-7px; -webkit-transform:rotate(135deg)}

.gnb .count{position:absolute; top:50%; right:20px; display:inline-block; margin-top:-13px; width:26px; height:26px; line-height:26px; font-size:12px; font-weight:normal !important; color:#fff; text-align:center; background:#ed4e00; border-radius:50%}
.gnb a.set{padding-left:35px; color:#fff; background:#4bbdc4 url(../img/ic_set.png) no-repeat 5px center; background-size:23px auto}
.gnb a.turn{padding-left:35px; color:#fff; background:#4bbdc4 url(../img/ic_turn.png) no-repeat 5px center; background-size:23px auto}
 */
/* logo */
.logo{position:absolute; top:11px; right:12px; width:100px}

.scrollOver .logo{position:fixed}
.scrollOver .profile{position:fixed; left:0; top:0; z-index:50; margin:0; padding:10px 3% 0; width:100%; height:50px;  background:rgba(0,114,192,0.9)}
.scrollOver .profile .photo{margin-right:8px; width:35px; height:35px; border:0}
.scrollOver .profile .name{margin-bottom:5px; font-size:15px}
.scrollOver .profile .part{font-size:12px}
.scrollOver .profile .info, .scrollOver .schduleList{display:none}
.scrollOver .feedWrap{height:91%}

/* userhome */
.profile{position: relative; padding:25px 13px 10px; width:100%; min-height:125px; color:#fff; background-color:rgba(0,114,192,0.5)}
.profile .photo{float:left; overflow:hidden; margin-right:13px; width:75px; height:75px; text-align:center; border:1px solid rgba(255,255,255,0.3); background:rgba(0,0,0,0.1); border-radius:50%}
.profile .photo img{height : 100%; width : auto; max-width : none;}
.profile .infoArea{overflow:hidden;}/*info*/
.profile .name{margin:8px 0; font-size:18px; line-height:1.3;}
.profile .part{display:block; margin-bottom:5px; font-size:13px; line-height: 1.4;}
.profile .info dt, .profile .info dd{margin-right:3px; font-size:11px; line-height:1.3; letter-spacing:0.5px}
.profile .info dt{display:none; float:left;}
.profile .info.t dt{display: block;}/*info에 t가 붙으면 dt보임*/

.schduleList{padding:15px 13px 0}
.schduleList header{margin-bottom:10px; color:#1b72ad}
.schduleList header:after{display:block; clear:both; content:''}
.schduleList header h2{float:left; padding-left:20px; font-size:16px; font-weight:bold; background:url(../img/ic_time.png) no-repeat 0 center; background-size:16px auto}
.schduleList header time{float:right; text-transform:capitalize}
.schduleList li{line-height:1.4; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.schduleList .time{display:inline-block; width:35px; margin-right:10px}

.quickMenu{position:absolute; top:40px; right:10px; z-index:100; overflow:hidden; width:32px; height:32px; background:#4f7792; border:1px solid #9cc4df; border-radius:16px; -webkit-transition:all .3s;}
.quickMenu .btMenu{cursor:pointer; text-indent:-9999px; width:100%; height:32px; background:url(../img/ic_lnb_g.png) no-repeat center 14px; background-size:19px auto;}
.quickMenu .btJoin{cursor:pointer; padding:0 12px; height:27px; font-size:13px; color:#fff !important;}
.quickMenu li{margin-top:-1px; border-top:1px solid #9cc4df; background:url(../img/ic_lnb_g.png) no-repeat center 14px; background-size:21px auto;}
.quickMenu li a{display: block; height:31px; text-indent:-9999px;}
.quickMenu.group li:nth-child(1){background-position-y:-20px;}
.quickMenu.group li:nth-child(2){background-position-y:-55px;}
.quickMenu.group li:nth-child(3){background-position-y:-93px;}
.quickMenu.me li:nth-child(1){background-position-y:-55px;}
.quickMenu.me li:nth-child(2){background-position-y:-163px;}
.quickMenu.me li:nth-child(3){background-position-y:-227px;}
.quickMenu.me li:nth-child(4){background-position-y:-198px;}
.quickMenu li.fav{background-position-y:-129px;}
.quickMenu .fav.on{background-colr:#ff3b30;}
.lock:after{position: absolute; bottom:15px; right:16px; content:''; display:block; width:15px; height:22px; background:url(../img/ic_lock.png) no-repeat 0 0; background-size:15px auto;}

/* feed */
.feedWrap{}
.feedArray{padding-bottom:5px;} /* search */
.feedArray:after{display:block; clear:both; content:''}
.feedArray select{min-width:130px}
.feedArray .date{ background-color:rgba(255,255,255,0.3)}
.feedSelect{float:left}
.feedSearch{float:right}
.feedSearch .searchInput{width:120px; height:32px; font-size:17px; border:1px solid #b5b5b5; background:rgba(255,255,255,0.3)}
.feedSearch .searchbt{display:inline-block; margin-left:-1px; text-indent:-9999px; vertical-align:middle; width:32px; height:32px; border:1px solid #b5b5b5; background:rgba(255,255,255,0.3) url(../img/ic_search.png) no-repeat center center; background-size:16px auto; border-radius:3px; text-indent:-9999px}

.feedBoxList .feedBox:last-child{margin-bottom:0} /* feed list */
.feedBoxList .feedBox .name, .feedBoxList .feedBox .part{position:relative; display:inline-block}
.feedBoxList .feedBox .name{margin-right:0;}
.feedBoxList .feedBox .part{padding-left:12px; padding-top:5px;}
.feedBoxList .feedBox .part:after{content:"◀"; position:absolute; left:0; height:100%; font-size:10px}

.feedDetail .feedBox{margin-bottom:39px}
.feedBox{position:relative; /* overflow:hidden;*/ margin:0 0 10px; border:1px solid #c6c6c8; background-color:#f8f8f8; border-radius:3px; -webkit-box-shadow:0 0 2px rgba(0,0,0,0.08),0 1px 1px rgba(0,0,0,0.05); box-shadow:0 0 2px rgba(0,0,0,0.08),0 1px 1px rgba(0,0,0,0.05)}
.feedBox:after, .feedBox header:after{di splay:block; clear:both; content:''}
/* .feedBox header{width:92%;} */
.feedBox.on{border-color:#ff6700}
.feedBox .gab{margin-top:13px}
.feedBox .feedInner{padding:10px 12px 8px; background:#fff; border-radius:3px 3px 0 0 ;}
.feedBox .feedNo{padding:20px}
.feedBox .feedCont{margin:10px 0; line-height:1.4; word-break:break-all;}
.feedBox .feedMore, .readmore-js-toggle{display:inline-block !important; width:auto !important; margin-top:10px; padding:5px 7px; font-size:12px; color:#1b72ad; border:1px solid #1b72ad; border-radius:3px; background:transparent}

/* 2014.08.21 mod by chocobi */
.photo_scroll {margin : -8px -8px 0 -8px; background:#000; height: 300px;}
.photo_scroll_container{padding : 0px !important; text-align:center;}

.feedMng{position:absolute; top:-1px; right:-1px}
.feedMng a{float:left; display:block; margin-left:-1px; width:34px; height:34px; border:1px solid #c6c6c8; text-indent:-9999px}
.feedMng .close{background:#e9e9e9 url(../img/i_close.png) no-repeat center center; background-size:10px auto}
.feedMng .bookmark{background:#e9e9e9 url(../img/ic_bookmark_off.png) no-repeat center center; background-size:15px auto}
.feedMng .bookmark.on{background-image:url(../img/ic_bookmark.png)}

.feedGood{display:-webkit-box; -webkit-box-orient:horizontal; -webkit-box-align:center; min-height:40px; font-size:13px; background:#f0f0f0; border-top:1px solid #d3d3d3; border-radius:0 0 3px 3px}
	.feedGood:after{display:block; clear:both; content:''}
	.feedGood .col{float:left}
	.feedGood.row{display:block; line-height:1.6; height:auto; padding:5px 0}
	.feedGood.row span{width:100%}
	.feedGood .bt{padding: 5px 0; width:55px; min-height: inherit; font-size:14px; border-left:1px solid #d3d3d3}
	
	.feedCount{}
	.feedCount+time{-webkit-box-flex:1; display:block; padding-right:7px; font-size:11px; color:#939393; text-align:right; background:#fff}
	.feedCount .count{float:left; padding-left:28px; width:55px; height:inherit; font-size:12px; color:#4b4b4b; text-align:left; border-right:1px solid #dfdfdf}
	.feedCount .like{background:url(../img/ic_like.png) no-repeat 10px center; background-size:14px auto}
	.feedCount .reply{background:url(../img/ic_reply.png) no-repeat 10px center; background-size:14px auto}
	
	.feedTime{padding:5px 15px 0; height:100%; line-height:1.4; text-align:center; font-size:11px; color:#939393}
	.feedTime span{display:block; padding:0}
	.feedTime+.progress{-webkit-box-flex:1; display:block; padding:0 13px; text-align:center; background:#fff}
	.feedDate{-webkit-box-flex:1; display:block; padding:10px 10px; width:50%; color:#939393; line-height: 1.3;}

.feedList .thumbnail .photo,.feedList .thumbnail .thumb{width:40px; height:40px} /* feedlist photo size modify */

.feedRepleWrite{position:fixed; left:0; bottom:0; padding-right:35px; width:100%; background:#fff; border-top:1px solid #d3d3d3; box-shadow:0 0px 2px rgba(0,0,0,0.08),0 1px 1px rgba(0,0,0,0.05)}
	.feedRepleWrite .inputTx{display:block; vertical-align:top; -webkit-box-flex:1}
	.feedRepleWrite textarea{border:0}
	.feedRepleWrite .bt{position:absolute; right:0; top:0; text-indent:-9999px; margin-top:5px; width:35px; height:30px; border-left:1px solid #ddd; background:url(../img/btn_replywrite.png) no-repeat 0 center; background-size:25px auto}

.feedReplyList li{border-top:1px solid #ddd}
.feedReplyList li .name{font-size:13px; color:#4CC3C4}

.feedPoll > div{overflow:hidden; margin-top:15px; border-radius:3px}
.pollBox{padding:0 10px 13px; border:1px solid #d4d4d4}
.pollBox.result{background:#f8f8f8}
.pollBox h5{height:33px; line-height:34px; font-weight:bold; border-bottom:1px solid #d4d4d4}
.pollBox h5 em{display:inline-block; margin-right:10px; padding:3px 0; width:45px; line-height:normal; font-size:13px; font-style:normal; text-transform:capitalize; color:#fff; text-align:center; background:#ff6700; border-radius:10px}
.pollBox.result h5 em{background:#1D82D2}
.pollBox ul{padding:13px 0 5px}
.pollBox li{margin-bottom:10px; min-height:20px; font-size:14px; list-style-type:decimal; list-style-position:inside;}
.pollBox li input{margin-right:5px}
.pollBox .poll_num{display:block; margin-bottom:5px}

/* 	view.html
	div.board > ul > li > strong.th +div.td.bd  
*/
.subTit{margin-top:4px; margin-bottom:12px; padding-left:20px; color:#4c9ed6; background:url(../img/ic_stit.png) no-repeat 0 center; background-size:14px auto}
.board{position:relative; border:1px solid #c6c6c8; background-color:#fff; border-radius:5px; box-shadow:1px 1px 2px rgba(0,0,0,0.2)}

.boardTit{position:relative; margin:-1px -1px 0 0; padding:10px 15px; color:#fff; background:#4c9ed6; border:1px solid #4c9ed6; border-radius:5px 5px 0 0}
.boardTit .state{display:block; margin-bottom:7px; font-size:13px; opacity:0.8}
.boardTit .mtit{font-size:16px; font-weight:bold; line-height:1.3}
.boardStit{padding:12px 15px; line-height:1.3}
.boardStit .etc{overflow:hidden; margin-bottom:3px; font-size:12px; color:#939393}
.boardStit .etc .import{float:left}
.boardStit .etc .step{float:right}

.boardTable{overflow:hidden; margin-bottom:10px; border-bottom:1px solid #ddd}
.boardTable li{display:-webkit-box; -webkit-box-orient:horizontal; -webkit-box-align:center; margin:0 5px; min-height:37px; color:#939393; white-space:nowrap; border-top:1px solid #ddd}
.boardTable .th, .boardTable .td, .boardTable .dec{padding:8px 10px}
.boardTable .th{display:inline-block; width:72px; text-align:center; font-weight:normal; line-height:1.4}
.boardTable .th.w{width:auto}
.boardTable .th + div.td{-webkit-box-flex:1; min-height:36px}
.boardTable .half{float:left; width:48%; margin-right:0}
.boardTable .half.r{margin-left:0; margin-right:2%}
.boardTable .td.bd{border-left:1px solid #ddd}
.boardTable .td .thumbnail{display:inline-block; margin:2px 2px; float : left;}
.boardTable .cb{clear:both}
.boardTable .dec{line-height:1.4}
.boardTable .file{margin:0; padding:0 2%; width:100%; line-height:1.4; background:#f7f7f7}
.boardTable .file span{display:inline-block; margin:0 2%; white-space:nowrap}
.boardTable .fs{font-size:13px; min-height:36px}

.board .online{position:absolute; top:0; right:0;  width:18%; height:100%}
.board .online >span{display:table; width:100%; ; height:50%; font-size:12px; text-align:center; color:rgba(255,255,255,0.7);  border-left:1px solid rgba(0,0,0,0.1); background:#4895c9}
.board .online >span >span{display:table-cell; vertical-align:middle}
.board .online >span:first-child{border-bottom:1px solid rgba(0,0,0,0.1)}


/* 	write.html
	div.layerUI > ul.layerLi > li > label + input
	person search: li.search
*/
.layerUI{position:relative; top:0; left:0; width:100%; z-index:50; background:#f2f3f5}
.blockUI{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; background:#f2f3f5;}/* background:#071824; opacity:.8*/

.layerLi{background:#f2f3f5; -webkit-border-radius:0 0 5px 5px}
.layerLi>ul:after{content:''; clear:both; display:block}
.layerLi>ul >li{position:relative; padding:3px 0; min-height:45px; line-height:36px;  border-bottom:1px solid #e2e2e2; background:#fff; box-sizing:border-box}
.layerLi>ul >li:last-child{border-bottom:0;}
.layerLi>ul >li >label:first-child{position:relative; float:left; padding:0 10px; line-height:38px; color:#757677}
.layerLi>ul >li >label:first-child:after{content:':'; display:block; position:absolute; top:0; right:3px}
.layerLi input[name="ttl"], .layerLi input.w{width:84%}
.layerLi li.p0{padding-left:0}
.layerLi li.gab{margin-top:5px; border-top:1px solid #e2e2e2}
.layerLi li.etc{padding-left:10px}
.layerLi li.etc2{padding-left:10px; padding-right:10px}
.layerLi li.etc label{float:none}
.layerLi input[type="text"], .layerLi textarea{border:0}
.layerLi li.cb{clear:both; background:transparent; padding:0; height:0; line-height:0; min-height:0}
.layerLi li.half{float:left; width:50%}
.layerLi li.bg{background-color:transparent}
.layerLi li.line{position:relative; border-bottom:0}
.layerLi li.line:after{content:''; position:absolute; left:2%; bottom:0; width:96%; height:1px; background:#ddd}
.layerLi .time{display:inline-block; vertical-align:middle}
.layerLi li.search{position:relative; padding-top:7px; padding-bottom:7px; background:transparent}
.layerLi li.search .searchInput input{width:105px; height:38px; vertical-align:top; border:1px solid #ddd; background:rgba(255,255,255,0.5); border-radius:5px 0 0 5px}
.layerLi li.search .searchInput button{margin-left:-5px; border-radius:0 5px 5px 0}
.layerLi li .checkbox{margin-top:7px}
.layerLi .option{overflow:hidden; padding:0 3%}
.layerLi .option >span{float:left; display:inline-block; margin:1% 4% 1% 0; width:48%; height:38px; background:-webkit-linear-gradient(top,#fdfdfd 0%,#f9f9f9 100%); border:1px solid #ddd; border-radius:3px}
.layerLi .option >span:nth-child(2n){margin-right:0}
.layerLi .option >span input{padding-left:7px; width:auto; height:100%}
.layerLi .option select{border:0; width:100%}
.layerLi .btn_wrap{position: fixed; bottom:0; width:100%;}
/* .layerLi .file_list{overflow:hidden; margin:0 110px 0 0; width:auto; height:auto; border:0}
.layerLi .file_list li{float:left; position:relative; margin-left:5px; padding:0; line-height:33px; cursor:none}
.layerLi .file_list+.filesearch{float:right; margin-right:10px}
 */
.dateInput{width:105px !important}
.optionInput{display:inline-block; width:50px; height:38px; text-align:center; background:-webkit-linear-gradient(top,#fdfdfd 0%,#f9f9f9 100%); border:1px solid #ddd; border-radius:3px}
.selectedFile{background-color:#F0F0F0}

.file_list{overflow-y:auto; overflow-x:hidden; margin:7px 12px 0; padding:0; height:80px; border:1px solid #d4d4d4; background:rgba(255,255,255,1)}
.file_list li{cursor:pointer; padding:0 15px; line-height:27px}
.file_list li:hover{background:#f8f8f8; color:#4cabe7}
.file_list .close{position:relative}


/* thumbnail thumb is image*/
.thumbnail{position:relative; overflow:hidden}
.thumbnail.line{padding-bottom:8px;border-bottom:1px solid #ddd;}
.thumbnail .photo, .thumbnail .thumb{float:left; position:relative; overflow:hidden; margin-right:10px; width:45px; height:45px; text-align:center; background:#fff;}
.thumbnail .photo{border-radius:50%; border:1px solid #eee;}
.thumbnail .photo img{width:100%; height:100%}
.thumbnail .thumb img{max-height:100%; width:auto;}
.thumbnail .thumbNum{position:absolute; top:4px; left:0; width:100%; font-size:13px; color:#fff;}
.thumbnail .name, .thumbnail .tit, .thumbnail strong{margin-right:5px; padding:5px 0; font-weight:bold; color:#4C93C4; line-height:1.2}
.thumbnail .part, .thumbnail .stit, .thumbnail .date{display:block; font-size:12px; color:#7c7c7c; line-height:1.4;}
.thumbnail .tx{overflow:hidden; padding-top:7px; line-height:1.3}
.thumbnail.only .name, .thumbnail.only .part{display:none}
.thumbnail.only .photo{margin:0}
.thumbnail .name+.date{font-size:12px; color:#939393}
.thumbnail select{height:25px; line-height:25px; vertical-align: top;}
.thumbnail li{float:left; position:relative; margin-left:10px; margin-top:10px}
.thumbnail .ct{overflow:hidden;}
.thumbnail .ct .name{padding-top:3px;}
.thumbnail .close, .file_list .close{display:inline-block; vertical-align:middle; width:16px; height:16px; background:#555 url(../img/i_close_w.png) no-repeat center center; background-size:8px auto; text-indent:-9999px; border-radius:50%}

	/* thumbnail size small */
	.thumb_s .photo{width:40px; height:40px; border:1px solid #dfdfdf; vertical-align:middle}
	.thumb_s strong, .thumb_s .name{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
	.thumb_s .close{position:absolute; top:0px; left:25px}
	/* thumbnail size big */
	.thumb_b .photo{width:150px !important; height:150px !important; border:1px solid #dfdfdf; vertical-align:middle}

/* button */
.hp-panel .btn_wrap{height:60px;}
.btn_wrap{overflow:hidden;}
.button{cursor:pointer; display:block; float:left; width:100%; height:40px; line-height:40px; font-size:13px; color:#727272; text-align:center; border:1px solid #c7c7c7; background:#e9e9e9; opacity:0.8;}
.button2{display:inline-block; padding:0 12px; height:27px; line-height:25px; font-size:13px; color:#fff !important; border:1px solid #737A7F; background:#7F878D; border-radius:3px}

.btPlus, .btMinus, .btDel{display:inline-block; margin-left:5px; width:25px; height:25px; text-indent:-9999px; border:1px solid #ddd; border-radius:50%}
.btPlus{background:url(../img/ic_plus.png) no-repeat center center; background-size:15px auto}
.btMinus{background:url(../img/ic_minus.png) no-repeat center center; background-size:15px auto}
.btDel{background:url(../img/i_close.png) no-repeat center center; background-size:9px auto}
.button3.del{background:#fff url(../img/i_close_g.png) no-repeat center center !important; background-size:15px auto !important}

/* button file search */
.file_bt input, .file_bt a{float:left; margin-right: 3px;}
.file_bt:after {content:''; clear: both; display: block;}
.filesearch, .searchInput button, .button3{position:relative; overflow:hidden; text-indent:-9999px; vertical-align:top; display:inline-block; width:38px; height:38px; border:1px solid #e2e2e2; background:#fff url(../img/ic_search2.png) no-repeat center center; background-size:17px auto; border-radius:5px}
/* .filesearch{display:inline-block; height:38px;}
.filesearch label{display:inline-block; padding-left:13px; width:50px; font-weight:bold; background:url(../img/ic_file.gif) no-repeat 0 center}
.filesearch span button{position:absolute; top:0; margin:0; text-indent:-9999px}
.filesearch span input{cursor:pointer; position:absolute; right:0; top:0; font-size:26px; opacity:0}
 */
/* progress */
.progress{}
.progressBg{position:relative; display:inline-block; width:75%; height:10px; border:1px solid #ddd; background-color:#f0f0f0; box-shadow:inset 0 0 0 #ddd}
.progressBar{position:absolute; top:-1px; left:-1px; display:inline-block; width:20%; height:8px; border:1px solid #f58220; background:#f58220; box-sizing:content-box}
.progressNum{display:inline-block; padding-left:5px; width:25%; text-align:left; font-style:normal; font-size:14px; color:#4b4b4b}

/* tab */
.tab{position:relative; overflow:hidden; margin:10px 10px 0;}
.tab a{position:relative; float:left; width:50%; height:22px; line-height:22px; font-size:12px; color:rgba(255,255,255,.9); text-align:center; border-radius:10px; background:rgba(0,0,0,.3);}
.tab a span{position:relative; z-index:10; display:block}
.tab.w3 a, .tab.w3 .back{width:33.3%}
.tab.w4 a, .tab.w4 .back{width:25%}
.tab.w5 a, .tab.w5 .back{width:20%}
.tab .back{position:absolute; top:0; z-index:5; display:inline-block; width:50%; height:22px; background:#ff6700; border-radius:10px}
.tab.gab{margin-bottom:10px}

/* formWrap */
.formWrap{overflow:hidden; background:#fff; border-radius:5px; -webkit-box-shadow:0 0 2px rgba(0,0,0,0.08),0 1px 1px rgba(0,0,0,0.05);}
.formWrap li{border-top:1px solid #ddd}
.formWrap li:first-child{border:0}
.formWrap li input, .formWrap li textarea{border:0; background-color:transparent}
.formWrap .bgc{background-color:#f2f3f5}
.formWrap .button{width:100%; color:#1b72ad; border:0; background:#fff}

.formWrap .tab{margin:0}
.formWrap .tab a{height:35px; line-height:35px; color:inherit; border:0; border-bottom:1px solid #b2b2b2; background:#fff; border-radius:0}
.formWrap .tab a.on{color:#fff; border-bottom:1px solid #4bbdc4; background:#4bbdc4}

/* search name */
.connetName{position:absolute; z-index:100; top:42px; left:0; overflow-x:hidden; overflow-y:auto; margin-top:-1px; width:100%; height:auto; background:#fff url(../img/null.gif) repeat 0 0; -webkit-box-shadow:0 2px 4px #D1D1D1; -moz-box-shadow:0 2px 4px #D1D1D1; box-shadow:0 2px 4px #D1D1D1}
.connetName ul{border:1px solid #d4d4d4; line-height:25px}
.connetName li span{display:inline-block; vertical-align:middle}
.connetName li .cnRow{padding:2px 7px 5px; white-space:nowrap}
.connetName li .photo{overflow:hidden; margin-right:5px; width:25px; height:25px}
.connetName li .photo img{width:100%; height:100%}
.connetName li .name{width:230px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.connetName li .name strong{padding:0 2px; background-color:#FAF37B}
.connetName li .userRole{color:#999}
.connetName .cnRow:hover{background:#f8f8f8; cursor:pointer}
.connetName .cnRow:hover .name{color:#034ea2}
.connetName li.selected .cnRow{background:#D5F8FD}
.connetName li.selected .name{color:inherit}
.connetName li.selected .name strong{background:none}

/* navAdd */
.navAdd{position:fixed; bottom:12px; right:12px; width:45px; height:45px; background:#3073a2 url(../img/ic_notify.png) no-repeat center center; background-size:68% auto; border:2px solid #fff; text-indent:-9999px; border-radius:50%; box-shadow:0 0 8px rgba(0,0,0,0.5); opacity:0.95}
.navAdd:after, .navAdd .count{content:''; display:block; position:absolute; top:6px; right:6px; width:13px; height:13px; background-color:#ff6700; border-radius:50%;}
/* .navAdd:before, .navAdd:after{content:''; display:block; position:absolute; top:50%; left:20%; width:60%; height:1px; background:#fff}
.navAdd:after{-webkit-transform:rotate(90deg)}
 */
/* snsPostWrite */
.snsWrite{height:100%; background:#fff !important;}
.snsWrite > div, .snsWrite .layerUI{height:100%;}
.snsWrite .layerUI{background:#fff;}
.snsTarget{padding:5px 10px 0; height:43px; color:#4b4b4b; background:#f2f3f5; border-bottom:1px solid #b2b2b2}
.snsTarget select, .selectWide{width:100%; background-position:96% center}
.snsTarget .tit{display:inline-block}

.snsForm{position:absolute; bottom:45px; width:100%}
.snsForm >div{margin:7px}
.snsForm .t{display:block; margin-bottom:7px; font-size:13px; font-weight:normal}
.snsInput textarea{height:100%; border:0}
.linkInput{position:relative; padding-right:38px; border:1px solid #ddd}
.linkInput input{border:0}
.linkInput .linkBt{position:absolute; right:0; top:0; display:inline-block; text-indent:-9999px; width:38px; height:38px; background:url(../img/ic_option2.png) no-repeat center center; background-size:20px auto}
.poll li{position:relative; margin-bottom:5px; padding-right:33px}
.poll .bt{position:absolute; right:0; top:4px}

.link_mov, .link_txt{margin-top:5px; overflow:hidden; position:relative; padding:10px; background-color:#f4f4f4; border:solid 1px #ddd}
.link_mov .img{float:left; margin-right:20px; width:160px; height:120px; background-color:#ddd; border:1px solid #d4d4d4}
.link_mov .info{float:left; width:330px}
.link_mov .info .tit, .link_txt .tit{font-weight:bold; letter-spacing:-1px}
.link_mov .preview{position:absolute; top:10px; left:10px; overflow:hidden; width:160px; height:120px; border:1px solid #d4d4d4}
.link_mov .preview img{width:160px}

.feedBox .link_txt{margin: 0; padding: 0; background:none; border:none;}
.feedBox .link_txt .close{display: none;}
.feedBox .link_txt a{text-decoration: underline; color:#1b72ad}
.link_txt .tit, .link_txt .descrip{width:97%}
.link_txt .descrip{overflow:hidden; line-height:20px; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word}
.link_mov .close, .link_txt .close{position:absolute; top:5px; right:5px; display:block; text-indent:-9999px; width:15px; height:15px; background:url(../img/i_close.png) no-repeat center center; background-size:10px auto}

.fileUp{position:relative}
.fileUp:after{content:''; clear:both; display:block}
.fileUp li{float:left; overflow:hidden; /* padding:0 0.3% 0.5%;*/ width:100%; ; text-align:center; -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4); background: #f2f2f2;}
.fileUp li .ex{font-size:12px}
.fileUp li img {vertical-align: middle;}
.fileUp li.up_file{padding:5px 10px; text-align:left; border-radius:5px 5px 0 0; background:#f8f8f8; border:1px solid #eee}
.fileUp li.up_file:last-child{border-bottom-right-radius:5px; border-bottom-left-radius:5px}
.fileUp li.up_file+li{margin-top:-1px; border-top-right-radius:0; border-top-left-radius:0}
.fileUp li.up_file .img{display:inline-block; vertical-align:middle}
.fileUp li.up_img img{width:100%}

.fileUp.fifth li:nth-child(1), .fileUp.fifth li:nth-child(2){position:relative;}
.fileUp.fifth li{position:absolute; right:0;}

.feed_slider_wrap{overflow:hidden}
.feed_slider_box, .fileSliderLi{float:left}
.feed_slider_box li, .upload_btn{float:left; overflow:hidden; margin-right:7px; margin-bottom:7px; width:95px; height:95px; text-align:center}
.feed_slider_box li{border:1px solid #ddd; background:#fff}
.feed_slider_box li:nth-child(3n){margin-right:0}
.feed_slider_box li >div{display:table; width:100%; height:100%}
.feed_slider_box li >div a{display:table-cell; vertical-align:middle}
.feed_slider_box li span{display:inline-block; padding-top:3px; width:75px; font-size:12px; color:#7c7c7c; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.upload_btn{margin-right:0; border:1px dashed #b2b2b2; background:#fff url(../img/ic_plus.png) no-repeat center center; background-size:50px auto}
.upload_btn input[type="file"]{width:100px; height:100px; opacity:0}


.optBt{position:fixed; bottom:0; left:0; padding:0 10px 0 5px; width:100%; height:45px; line-height:45px; text-align:right; background:#f2f3f5; border-top:1px solid #b2b2b2; border-radius:0 0 5px 5px}
.optBt button{float:left; width:42px; height:inherit; vertical-align:middle; border:0; background-color:transparent; text-indent:-9999px}
.optBt .file{background:url(../img/ic_option1.png) no-repeat center center; background-size:24px auto}
.optBt .link{background:url(../img/ic_option2.png) no-repeat center center; background-size:24px auto}
.optBt .poll{background:url(../img/ic_option3.png) no-repeat center center; background-size:24px auto}
.optBt .bt{float:right; text-indent:0; padding:0 5%; width:auto; font-size:14px; border-left:1px solid #d3d3d3}

/* mypage */
.mypage.thumbnail{margin:25px 0}
.mypage.thumbnail .photo{float:none; margin:0 auto; width:100px; height:100px; border:0}
.photoBt{position:absolute; bottom:5px; left:50%; overflow:hidden; margin-left:30px; padding-top:32px; width:40px; height:0; background:url(../img/ic_photo.png) no-repeat; background-size:40px auto}

/* list */
.groupList li, .feedReplyList li{padding:7px 12px; display:-webkit-box; -webkit-box-orient:horizontal; -webkit-box-align:center}
.groupList .thumbnail, .feedReplyList .thumbnail{-webkit-box-flex:1}
.groupList .no, .feedReplyList .no{padding:40px 0; text-align: center;}

.ui-datepicker-trigger{width:30px; vertical-align:middle}


/* calendar */
.fixed{position:fixed; width:100%;}
.calendarTop{position:relative; padding:10px 0; text-align:center; border-bottom:1px solid #418ec1}
.calendarTop:after{content:''; clear:both; display:block}
.calendarTop .title{font-size:20px; line-height:30px}
.calendarTop .lbt{position: absolute; left:8px;}
.calendarTop .rbt{position: absolute; right:8px;}
.calendarTop button{overflow:hidden; padding:0 7px; height:30px; font-size:13px; color:#418ec1; border:1px solid #418ec1; background-color:rgba(255,255,255,0.3); border-radius:3px}
.calendarTop .icon{text-indent:-9999px; padding:0; width:32px; background:#418ec1 url(../img/ic_cal_array.png) no-repeat center 0; background-size:18px auto}
.calendarTop .icon.day{background-position-y:7px}
.calendarTop .icon.month{background-position-y:-20px}
.calendarTop .dir{position: relative; text-indent:-9999px; padding:0; width:32px;}
.calendarTop .dir:after{content:''; display: block; position: absolute; top:50%; margin-top:-6px; width:12px; height:12px; border:1px solid #418ec1; -webkit-transform:rotate(-45deg)}
.calendarTop .prev{border-radius:3px 0 0 3px}
.calendarTop .prev:after{left:12px; border-width:1px 0 0 1px;}
.calendarTop .next{margin-left:-1px; border-radius:0 3px 3px 0}
.calendarTop .next:after{right:12px; border-width:0 1px 1px 0;}

.calendarView{background:rgba(255,255,255,0.6)}
.calendarView tr:last-child td{border-bottom:0;}
.calendarView th{line-height:32px; border-bottom:1px solid #7a7a7a}
.calendarView td{width:14.2%; font-size:16px; text-align:center; border-bottom:1px solid #bdbdbd; vertical-align:top;}
.calendarView td > div {padding:5px 0;}
.calendarView th:nth-child(1), .calendarView tr td:nth-child(1), .calendarView th:last-child, .calendarView tr td:last-child{color:#aaa}
.calendarView td span{position:relative; display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; border-radius:50%;}
.calendarView .current{background:#ff3b30; color:#fff; }
.calendarView .select{background:#000; color:#fff; }
.calendarView .check em{content:''; display:block; position:absolute; left:50%; bottom:-30%; margin-left:-3px; width:6px; height:6px; background:#60626b; border-radius:50%}
.calendarView .rest{color:#ff3b30 !important}

.calendarViewList{position:relative; background:rgba(255,255,255,0.2)}
.calendarLi .header{padding-left:12px; line-height:30px; border-bottom:1px solid #7a7a7a; background:rgba(255,255,255,0.5)}
.calendarLi .cont .time,  .calendarLi .cont .tit{padding:8px 12px; min-height:53px}
.calendarLi .cont .time{float:left;  font-size:13px; line-height:1.5}
.calendarLi .cont .time span{display:block}
.calendarLi .cont .time span:last-child{color:#53545c}
.calendarLi .cont .tit{overflow:hidden; border-left:1px solid #aeaeae}
.calendarLi .cont .tit span{display:inline-block; margin-top:7px; font-size:13px; color:#53545c}
.calendarLi .cont .text{padding:8px 12px; color:#53545c; min-height:33px; border-top:1px solid #d1d1d1; border-bottom:1px solid #aeaeae}

.calendarViewList.detail{border-top:1px solid #bdbdbd;}
.calendarViewList.detail .header{display:none}/* 달력 table 일정내용 보기 */
.calendarViewList.detail .cont{background:#e3e3e3}
.calendarViewList.detail .text{background:#e7e7e7}
