<div class="nav">
{{for statusInfo}}
	<div class="main_profile" id="move_02">
		<h2 class="hidden">개인정보</h2>
		<a href="javascript:;" class="photo"><img src="../file/image.json?file_path={{:photo_img_min_path}}&noimg=resources/img/null150.png" alt="{{:crt_usr_nm}}" title="{{:crt_usr_nm}}" ></a>
		<strong class="name">{{:usr_nm}} {{:pos_nm}}</strong>
		<p class="part">{{:dept_nm}}</p>
		<dl>
			<dt>이메일주소</dt>
			<dd><a href="tel:{{:phn_num}}">{{:phn_num}}</a></dd>
			<dt>연락처</dt>
			<dd><a href="mailto:{{:email}}">{{:email}}</a></dd>
		</dl>
	</div>
{{/for}}
	<ul class="gnb" id="userMenu">
		<li><a href="javascript:;">소통커뮤니티</a>
			<ul id="sns_menu">
				<li><a href="../sns/userHome_p.html?post_mode=FOLLOW">내가 팔로우하는 항목</a></li>
				<li class=""><a href="../sns/userHome_p.html?post_mode=ME">나에게</a></li>
				<li class=""><a href="../sns/userHome_p.html?post_mode=BOOKMARK">북마크됨</a></li>
				<li class=""><a href="../sns/userHome_p.html?post_mode=OPEN">공개그룹</a></li>
			</ul>
		</li>
		<li><a href="../sns/groupHome_p.html?grp_id=2ypetwee5x98b">기관장 메세지</a></li>
		<li><a href="#work/workHome">과제관리</a></li>
		<li><a href="../task/taskHome_p.html">작업관리</a></li>
		<li><a href="../memo/memoHome_p.html">메모보고</a></li>
		<li><a href="../conference/conferenceHome_p.html">회의관리</a></li>
		<li><a href="../sns/listUserFile_p.html">파일</a></li>
		<li><a href="../sns/planHome_p.html">일정</a></li>
		<li><a href="../chart/i2Chart_Map.html">경영실적</a></li>
	</ul>
</div>