<section class="feedWrap">
	<h2 class="hide">피드</h2>
	<!-- feed array -->
	<div class="feedArray" id="feed_options_area">
		<select id="sort_dropdown" name="sort_dropdown" class="feedSelect">
			<option value="CRT">게시날짜</option>
			<option value="MOD" selected="selected">최근업데이트</option>
		</select>
		<div class="feedSearch">
			<form>
				<fieldset>
					<legend>피드검색</legend>
					<input type="text" name="search" id="post_search_text" class="searchInput"><a href="javascript:;" id="btn_feedsearch" class="searchbt">검색</a>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- //feed array -->
	<div id="feedBoxList"></div>
	
	<!--// feed box -->
</section>