<li id="reply_li_{{:post_id}}">
	<div class="thumbnail">
		<figure class="photo"><img src="../../../file/image.json?file_path={{:crt_usr_photo_img_min}}&noimg=mobile_phone/resources/images/null60.png" alt="{{:crt_usr_nm}}" title="{{:crt_usr_nm}}" ></figure>
		<h4 class="name">{{>crt_usr_nm}}</h4>
		<span class="date"><time>{{>reg_dttm.formatTimeDateDay()}}</time></span>
		<div class="tx">{{if cntn}} {{if list_user }} {{:cntn.makePostContent(list_user)}} {{else}} {{:cntn.replaceNewLine()}} {{/if}} {{/if}}</div>
	</div>
	{{if is_owner == 'Y'}}
		<button class="btDel"  value='{"up_post_id" : "{{:up_post_id}}", "post_id" :"{{:post_id}}"}'>댓글리스트삭제</button>
	{{/if}}
</li>