{{if attach_tp_cd == 'FILE'}}
	<li class="up_file">
		<a href="javascript:;" onclick="$File.download({ data : { file_path : '{{:physcl_file_path}}', file_nm : '{{:attach_nm}}'} });">
			<span class="img"><img src="../../resources/images/{{:~getIcon(physcl_file_nm.substring(physcl_file_nm.lastIndexOf('.') + 1, physcl_file_nm.length))}}" alt=""></span>
			<span class="ex">{{:attach_nm}}</span>
		</a>
	</li>
{{else attach_tp_cd == 'PHOT'}}
	{{if f_display}}
		<li class="up_img" style="width:{{:f_width}}px; height:{{:f_height}}px; top:{{:f_top}}px; margin-right:{{:f_margin_right}}px; margin-bottom:{{:f_margin_bottom}}px;">
			 <a href="../sns/postDetail_p.html?post_id={{>post_id}}&tar_obj_id={{>tar_obj_id}}&tar_obj_tp={{>tar_obj_tp}}&tar_usr_id={{>tar_usr_id}}&tar_grp_id={{>tar_grp_id}}">
				<!--  <i style="background :url(http://i2connect.co.kr/file/image.json?file_path={{:physcl_file_path_m}}&noimg=mobile_phone/resources/images/thumb_noimg.png) 50% 50% / 100% 100% no-repeat rgb(216, 220, 230);" alt=""></i>  -->
				<img src="../../../file/image.json?file_path={{:physcl_file_path_m}}&noimg=mobile_phone/resources/images/thumb_noimg.png" alt="">
				<!--<img src="../../resources/images/photoImg.png" alt="" />  -->
			 </a>
		</li>
	{{/if}}		
{{/if}}