{{for taskList}}

	<article class="feedBox feedList">
		<div class="feedInner">
			<header class="thumbnail">
				<figure class="photo"><a href=""><img src="../../../file/image.json?file_path={{:crt_usr_photo_img_min}}&noimg=mobile_phone/resources/images/null60.png" alt="{{:crt_usr_nm}}" title="{{:crt_usr_nm}}"></a></figure>
				<span class="stit">{{:task_st_nm}}</span>
				<h4 class="tit ellip2"><a href="../task/taskView_p.html?task_id={{:task_id}}" id="ttl_{{:task_id}}" >{{:ttl}}</a></h4>
			</header>
		</div>
		<footer class="feedGood">
			<span class="feedDate">상태변경일: <time>{{:(task_st_mod_dttm == null) ? '' : task_st_mod_dttm.formatDatetime()}}</time></span>
			<span class="feedDate">기한일: <time>{{:(end_dttm == null) ? '' : end_dttm.formatDate()}}</time></span>
		</footer>
	</article>
{{else}}
<article class="feedBox feedList">
	<div class="feedNo">조회된 데이터가 없습니다.</div>
</article>
{{/for}}
<div class="btn_wrap" id="add_more_snsTask_btn"><a href="javascript:;" class="button more">게시물 더 보기</a></div>
