<!-- <div class="photo_profile_layer"> -->
	<div class="thumb"><a href="javascript:;"><img src="../../../file/image.json?file_path={{:photo_img_mid_path}}&noimg=resources/img/null150.png" alt=""></a></div>
	<dl class="userInfo">
		<dt>이름</dt>
		<dd class="name">{{:usr_nm}} {{:pos_nm}}</dd>
		<dt>부서</dt>
		<dd class="part">{{:dept_nm}}<!--  <br>수행팀 --></dd>
		<dt>이메일</dt>
		<dd>{{:email}}</dd>
		<dt>연락처</dt>
		<dd>{{:phn_num}}</dd>
		<dd>{{:tel_num}}</dd>
	</dl>
	<!-- <button type="button" class="mess">메시지보내기</button> -->
	<p class="tx">{{:self_intro}}</p>
	<ul class="count">
		<li><strong>게시글, 댓글</strong><span>{{:write_post_cnt}}</span></li>
		<li><strong>받은 댓글</strong><span>{{:recv_post_cnt}}</span></li>
		<li><strong>받은 좋아요</strong><span>{{:recv_like_cnt}}</span></li>
	</ul>
	<div class="btn">
		<!-- <a href="javascript:;" title="프로필 레이어설정"><img src="../../../resources/img/i_set.png" alt="프로필 레이어설정"></a> -->
		<a href="javascript:;" title="프로필 레이어닫기"><img src="../../../resources/img/i_close.png" alt="프로필 레이어닫기" id="user_popup_profile_close" onclick="$(this).parent().parent().parent().remove();"></a>
	</div>
	<div class="arrow"></div>
<!-- </div> -->